default:
    suites:
        default:
            paths: [ '%paths.base%/tests/features' ]
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:browser:
                    timeout: 1
                - behatch:context:debug:
                    screenshotDir: '.'
                - behatch:context:json:
                    evaluationMode: javascript
                - behatch:context:rest
                - behatch:context:system:
                    root: '.'
                - behatch:context:table
                - behatch:context:xml
    extensions:
        Behat\MinkExtension:
            base_url: 'http://localhost:8080'
            files_path: '%paths.base%/tests/fixtures/files'
            browser_name: 'chrome'
            sessions:
                default:
                    goutte: ~
                chrome:
                    selenium2:
                        capabilities:
                            browser: 'chrome'
                            chrome:
                                switches:
                                    - '--headless'
                                    - '--disable-gpu'
                                    - '--no-sandbox'
                            extra_capabilities:
                                "goog:chromeOptions":
                                    w3c: false
        Behatch\Extension: ~

selenium:
    extensions:
        Behat\MinkExtension:
            default_session: chrome
