parameters:
    level: 3
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php

#    inferPrivatePropertyTypeFromConstructor: true
#    symfony:
#        containerXmlPath: tests/Fixtures/app/var/cache/test/AppKernelTestDebugContainer.xml
#        constantHassers: false
#    doctrine:
#        objectManagerLoader: tests/Fixtures/app/object-manager.php
#    bootstrapFiles:
#        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
#        # We're aliasing classes for phpunit in this file, it needs to be added here see phpstan/#2194
#        - src/Symfony/Bundle/Test/Constraint/ArraySubset.php
#        - tests/Fixtures/app/AppKernel.php
#    excludePaths:
#        # Symfony config
#        - tests/Fixtures/app/config/config_swagger.php
#        # Symfony cache
#        - tests/Fixtures/app/var/
#        - tests/Fixtures/Symfony/Maker
#        # The Symfony Configuration API isn't good enough to be analysed
#        - src/Symfony/Bundle/DependencyInjection/Configuration.php
#        # Templates for Maker
#        - src/Symfony/Maker/Resources/skeleton
#    earlyTerminatingMethodCalls:
#        PHPUnit\Framework\Constraint\Constraint:
#            - fail
#        ApiPlatform\Metadata\Resource\ResourceMetadataCollection:
#            - handleNotFound
